#header {
    position: relative;
}
.logo {
    font-size: 40px;
    letter-spacing: -2px;
    line-height: 1;
}
.footer {
    background: #eee;
    padding: 20px;
    box-sizing: border-box;
}
.footer .fa {
    font-size: 40px;
}
.footer ul {
    list-style: none;
    list-style-position:  inside;
}
.breadcrumb {
    background-color: #FFF;
}
.navbar-collapse.in {
    overflow-y: visible;
}
.navbar .dropdown-item {
    display: block;
    clear: both;
    padding: 2px 10px;
}
#panier {
    background-color: #d2d2d2;
    padding: 5px 15px;
    border-radius: 5px;
}
#panier .panier {
    margin: 0 0 5px 0;
    line-height: 1;
}
#panier .fa-shopping-cart-txt {
    font-size: 14px;
    line-height: 10px;
}
#back-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}

/* ************************************************************************** */

.product {
    margin: 0 0 10px 0;
}
.product h6 {
   margin: 0; 
}
.product h2 {
   margin: 5px 0; 
}
.product h3 {
    margin: 0 0 10px 0;
}
.product .product-price {
    display: inline-block;
}
.product .prix-vente {
    background-color: #666;
    display: inline-block;
    padding: 2px 10px;
    box-sizing: border-box;
    color: #FFF;
    font-size: 22px;
    font-weight: bold;
}
.product .prix-barre {
    position: relative;
    margin: 0 0 0 20px;
    font-size: 16px;
    font-weight: normal;
}
.product .prix-barre .barre {
  position:absolute;
  top:40%;
  width:100%;
  height:1px;
  -webkit-transform: skew(0deg, 10deg);
  -moz-transform: skew(0deg, 10deg);
  -o-transform: skew(0deg, 10deg);
  transform: skew(0deg, 10deg);
  border-top:1px solid #191919;
  border-bottom:1px solid #191919;
}
.product .product-img,
.product-list .product-img {
    display: inline-block;
    margin: 0 0 10px 0;
    border: solid 1px #e7e7e7;
    cursor: pointer;
}
.product .product-img:nth-child(2) {
    margin: 0 10px 10px 10px;
    border: solid 1px #e7e7e7;
}
.product .product-img img {
    width: 100%;
    height: auto;
}
.product .product-img:hover,
.product-list .product-img:hover {
    border: solid 1px #666;
}
.product-info {
    padding: 20px;
}
.product-list .row {
    margin: 20px 0;
}
/* ************************************************************************** */

.form-row {
    margin: 0 0 10px 0;
}
.form-row label {
    min-width: 100px;
    width: 10%;
    vertical-align: top;
}
.form-row select {
    min-width: 150px;
}
.form-row input[type=text] {
    width: 80%;
}
.form-row textarea {
    width: 80%;
    min-height: 100px; 
}
.float-right {
    float: right;
    font-size: 14px;
}
.float-left {
    float: left;
    font-size: 14px;
}
